* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.calendar-title {
  font-family: "Shizuru", cursive;
  font-size: 8rem;
  margin-top: 2rem;
}

.header-day,
.header-date {
  font-size: 4rem;
  font-weight: 700;
}

.header-day {
  margin-top: 7rem;
}
.header-date {
  margin-bottom: 1rem;
}
.header-month {
  font-size: 2.5rem;
}

table {
  width: 60rem;
  height: 43rem;
  border-collapse: collapse;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #444;
}

th {
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

td {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  vertical-align: top;
  padding: 0.5rem;
}

span {
  display: inline-block;
  text-align: center;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}

span:hover {
  cursor: pointer;
  color: #74c0fc;
  transition: all 0.3s;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btn {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 2rem;
  padding: 0.5rem;
}

.btn:hover {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.pre-date,
.post-date {
  color: #868e9654;
}

.today-effect {
  background-color: #e63946;
  color: #fdfffc;
}
