* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  /* background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.calendar-title {
  font-family: "Shizuru", cursive;
  font-size: 8rem;
}

.header-day,
.header-date {
  font-size: 4rem;
  font-weight: 700;
}
.header-month {
  font-size: 2.5rem;
}

table {
  width: 60rem;
  height: 43rem;
  border: 1px solid #444;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
}

th,
td {
  border: 1px solid #444;
}

th {
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

td {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  vertical-align: top;
  padding: 0.5rem;
}

span {
  display: inline-block;
  text-align: center;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}

span:hover {
  cursor: default;
}
